<div class="row">
  <div class="col-lg-12">
    <%= content_tag(:div, content_tag(:p, flash[:error]), class: 'alert alert-danger alert-dismissable') if flash[:error] %>
    <%= content_tag(:div, content_tag(:p, flash[:notice]), class: 'alert alert-success alert-dismissable') if flash[:notice] %>
    <%= content_tag(:div, content_tag(:p, flash[:alert]), class: 'alert alert-warning alert-dismissable') if flash[:alert] %>
  </div>
</div>

