/* line 4, /Users/jdcifuentes/Documents/UNCalendario/UNCalendario/app/assets/stylesheets/custom-share-buttons.scss */
.social-share-button .ssb-icon {
  background-size: 35px 35px;
  height: 35px;
  width: 35px;
}
