/* line 4, /Users/jdcifuentes/Documents/UNCalendario/UNCalendario/app/assets/stylesheets/navbar.scss */
.navbar-default {
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 2rem;
  height: 6rem;
}
/* line 8, /Users/jdcifuentes/Documents/UNCalendario/UNCalendario/app/assets/stylesheets/navbar.scss */
.navbar-default .navbar-brand {
  height: 4rem;
  font-size: 2rem;
  font-weight: bold;
  margin-top: -1.5rem;
}
/* line 13, /Users/jdcifuentes/Documents/UNCalendario/UNCalendario/app/assets/stylesheets/navbar.scss */
.navbar-default .navbar-brand img {
  height: 5rem;
  display: inline;
}
/* line 17, /Users/jdcifuentes/Documents/UNCalendario/UNCalendario/app/assets/stylesheets/navbar.scss */
.navbar-default .navbar-brand a {
  color: white;
}
/* line 22, /Users/jdcifuentes/Documents/UNCalendario/UNCalendario/app/assets/stylesheets/navbar.scss */
.navbar-default .dropdown {
  min-width: 20rem;
}
/* line 24, /Users/jdcifuentes/Documents/UNCalendario/UNCalendario/app/assets/stylesheets/navbar.scss */
.navbar-default .dropdown a {
  text-align: center;
  font-size: 1.7rem;
  color: #eeff87;
  height: 6rem;
  line-height: 3rem;
  font-weight: bold;
}
/* line 33, /Users/jdcifuentes/Documents/UNCalendario/UNCalendario/app/assets/stylesheets/navbar.scss */
.navbar-default .dropdown a:hover,
.navbar-default .dropdown a:focus,
.navbar-default .dropdown a:visited {
  color: #09323f;
  background-color: rgba(255, 255, 255, 0.5);
}
/* line 40, /Users/jdcifuentes/Documents/UNCalendario/UNCalendario/app/assets/stylesheets/navbar.scss */
.navbar-default .dropdown #dropdown-search {
  width: 62rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
}
/* line 46, /Users/jdcifuentes/Documents/UNCalendario/UNCalendario/app/assets/stylesheets/navbar.scss */
.navbar-default .dropdown .sidebar-search {
  width: 70rem;
  background-color: transparent;
}
/* line 49, /Users/jdcifuentes/Documents/UNCalendario/UNCalendario/app/assets/stylesheets/navbar.scss */
.navbar-default .dropdown .sidebar-search form {
  margin-bottom: 0;
}
/* line 51, /Users/jdcifuentes/Documents/UNCalendario/UNCalendario/app/assets/stylesheets/navbar.scss */
.navbar-default .dropdown .sidebar-search form .custom-search-form {
  width: 80%;
}
/* line 53, /Users/jdcifuentes/Documents/UNCalendario/UNCalendario/app/assets/stylesheets/navbar.scss */
.navbar-default .dropdown .sidebar-search form .custom-search-form input[type="text"] {
  width: 100%;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
/* line 58, /Users/jdcifuentes/Documents/UNCalendario/UNCalendario/app/assets/stylesheets/navbar.scss */
.navbar-default .dropdown .sidebar-search form .custom-search-form button {
  height: 3.4rem;
  background: #94B43B;
  border-color: #94B43B;
}
/* line 63, /Users/jdcifuentes/Documents/UNCalendario/UNCalendario/app/assets/stylesheets/navbar.scss */
.navbar-default .dropdown .sidebar-search form .custom-search-form i {
  color: white;
}

@media screen and (max-width: 768px) {
  /* line 74, /Users/jdcifuentes/Documents/UNCalendario/UNCalendario/app/assets/stylesheets/navbar.scss */
  .navbar-static-top {
    position: relative;
    /* this can also be static */
    height: auto;
  }

  /* line 80, /Users/jdcifuentes/Documents/UNCalendario/UNCalendario/app/assets/stylesheets/navbar.scss */
  .navbar-top-links {
    height: auto;
  }

  /* line 84, /Users/jdcifuentes/Documents/UNCalendario/UNCalendario/app/assets/stylesheets/navbar.scss */
  .navbar-top-links li {
    height: 5rem;
  }

  /* line 88, /Users/jdcifuentes/Documents/UNCalendario/UNCalendario/app/assets/stylesheets/navbar.scss */
  .navbar-top-links li a {
    height: 5rem;
    line-height: normal !important;
  }
}
