<div class="row">
  <div class="col-md-12 text-center">
    <% @categories.each do |category| %>
        <%= link_to category.name, events_path(category: category.name), class: 'btn btn-primary' %>
    <% end %>

  </div>
</div>