
<div class="event_form" id="edit_event_form">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h1 class="text-center">Edita tu evento</h1>
		</div>
  		<div class="panel-body">
			<%= render 'form', event: @event %>
		</div>
		<div class="panel-footer">
			<%= link_to 'Back', events_path, id:"back", title:"Atras"%> |
			<%= link_to 'Show', @event, id: "show", title:"Mostrar"%> 

		</div>
	</div>
</div>
