
<div id="new_event_form">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h1 class="text-center">Agrega tu evento</h1>

		</div>
  <div class="panel-body">
  			<%= render 'form', event: @event %>

  </div>
</div>

</div>

<%= link_to 'Back', events_path %>
