@font-face {
  font-family: 'Ancizar-Sans-Black';
  src: asset_url('Ancizar-Sans-Black.otf');
}

@font-face {
  font-family: 'Ancizar-Sans-Bold';
  src: asset_url('Ancizar-Sans-Bold.otf');
}

@font-face {
  font-family: 'Ancizar-Sans-BoldItalic';
  src: asset_url('Ancizar-Sans-BoldItalic.otf');
}

@font-face {
  font-family: 'Ancizar-Sans-BlackItalic' ;
  src: asset_url('Ancizar-Sans-Blackitalic.otf');
}

@font-face {
  font-family: 'Ancizar-Sans-Extrablack' ;
  src: asset_url('Ancizar-Sans-Extrablack.otf');
}

@font-face {
  font-family: 'Ancizar-Sans-ExtrablackItalic' ;
  src: asset_url('Ancizar-Sans-ExtrablackItalic.otf');
}

@font-face {
  font-family: 'Ancizar-Sans-Extrabold' ;
  src: url('Ancizar-Sans-Extrabold.otf');
}

@font-face {
  font-family: 'Ancizar-Sans-ExtraboldItalic' ;
  src: asset_url('Ancizar-Sans-ExtraboldItalic.otf');
}

@font-face {
  font-family: 'Ancizar-Sans-Italic' ;
  src: asset_url('Ancizar-Sans-Italic.otf');
}

@font-face {
  font-family: 'Ancizar-Sans-Light' ;
  src: asset_url('Ancizar-Sans-Light.otf');
}

@font-face {
  font-family: 'Ancizar-Sans-LightItalic' ;
  src: asset_url('Ancizar-Sans-LightItalic.otf');
}

@font-face {
  font-family: 'Ancizar-Sans-Regular' ;
  src: asset_url('Ancizar-Sans-Regular.otf');
}

@font-face {
  font-family: 'Ancizar-Sans-Thin' ;
  src: asset_url('Ancizar-Sans-Thin.otf');
}

@font-face {
  font-family: 'Ancizar-Sans-ThinItalic' ;
  src: asset_url('Ancizar-Sans-ThinItalic.otf');
}

@font-face {
  font-family: 'Ancizar-Serif-Black' ;
  src: asset_url('Ancizar-Serif-Black.otf');
}

@font-face {
  font-family: 'Ancizar-Serif-BlackItalic' ;
  src: asset_url('Ancizar-Serif-BlackItalic.otf');
}

@font-face {
  font-family: 'Ancizar-Serif-Bold' ;
  src: asset_url('Ancizar-Serif-Bold.otf');
}

@font-face {
  font-family: 'Ancizar-Serif-BoldItalic' ;
  src: asset_url('Ancizar-Serif-BoldItalic.otf');
}

@font-face {
  font-family: 'Ancizar-Serif-Extrabold' ;
  src: asset_url('Ancizar-Serif-Extrabold.otf');
}

@font-face {
  font-family: 'Ancizar-Serif-ExtraboldItalic' ;
  src: asset_url('Ancizar-Serif-ExtraboldItalic.otf');
}

@font-face {
  font-family: 'Ancizar-Serif-Italic' ;
  src: asset_url('Ancizar-Serif-Italic.otf');
}

@font-face {
  font-family: 'Ancizar-Serif-Light' ;
  src: asset_url('Ancizar-Serif-Light.otf');
}

@font-face {
  font-family: 'Ancizar-Serif-LightItalic' ;
  src: asset_url('Ancizar-Serif-LightItalic.otf');
}

@font-face {
  font-family: 'Ancizar-Serif-Regular' ;
  src: asset_url('Ancizar-Serif-Regular.otf');
}

@font-face {
  font-family: 'Ancizar-Serif-Semibold' ;
  src: asset_url('/assets/Ancizar-Serif-Semibold.otf');
}

@font-face {
  font-family: 'Ancizar-Serif-SemiboldItalic' ;
  src: asset_url('Ancizar-Serif-SemiboldItalic.otf');
}

$green-color: #94B43B;
$red-color: #A61C31;
$gray-color: #B1B2B0;
$primary-color: $green-color;
$secondary-color: $red-color;



.logo-un {
  min-height: 100px;
}

//body{
//	background-image: url(cover-un.jpg);
//	background-repeat: no-repeat;
//	background-size: cover;
//	background-position: center center;
//	background-attachment: fixed;
//}

//.navbar-default .navbar-brand{
//	line-height: 5rem;
//	text-align: center;
//	width: 30rem;
//	font-family: 'Ancizar-Sans-Thin';
//	font-size: 3rem;
//}
//
//.navbar-default .navbar-brand span{
//	font-size: 4rem;
//	font-family: 'Ancizar-Serif-Bold', sans-serif;
//}


