@font-face {
    font-family: 'Ancizar-Sans-Black';
    src: asset_url('Ancizar-Sans-Black.otf');
}

@font-face {
    font-family: 'Ancizar-Sans-Bold';
    src: asset_url('Ancizar-Sans-Bold.otf');
}

@font-face {
    font-family: 'Ancizar-Sans-BoldItalic';
    src: asset_url('Ancizar-Sans-BoldItalic.otf');
}

@font-face {
    font-family: 'Ancizar-Sans-BlackItalic';
    src: asset_url('Ancizar-Sans-Blackitalic.otf');
}

@font-face {
    font-family: 'Ancizar-Sans-Extrablack';
    src: asset_url('Ancizar-Sans-Extrablack.otf');
}

@font-face {
    font-family: 'Ancizar-Sans-ExtrablackItalic';
    src: asset_url('Ancizar-Sans-ExtrablackItalic.otf');
}

@font-face {
    font-family: 'Ancizar-Sans-Extrabold';
    src: url('Ancizar-Sans-Extrabold.otf');
}

@font-face {
    font-family: 'Ancizar-Sans-ExtraboldItalic';
    src: asset_url('Ancizar-Sans-ExtraboldItalic.otf');
}

@font-face {
    font-family: 'Ancizar-Sans-Italic';
    src: asset_url('Ancizar-Sans-Italic.otf');
}

@font-face {
    font-family: 'Ancizar-Sans-Light';
    src: asset_url('Ancizar-Sans-Light.otf');
}

@font-face {
    font-family: 'Ancizar-Sans-LightItalic';
    src: asset_url('Ancizar-Sans-LightItalic.otf');
}

@font-face {
    font-family: 'Ancizar-Sans-Regular';
    src: asset_url('Ancizar-Sans-Regular.otf');
}

@font-face {
    font-family: 'Ancizar-Sans-Thin';
    src: asset_url('Ancizar-Sans-Thin.otf');
}

@font-face {
    font-family: 'Ancizar-Sans-ThinItalic';
    src: asset_url('Ancizar-Sans-ThinItalic.otf');
}

@font-face {
    font-family: 'Ancizar-Serif-Black';
    src: asset_url('Ancizar-Serif-Black.otf');
}

@font-face {
    font-family: 'Ancizar-Serif-BlackItalic';
    src: asset_url('Ancizar-Serif-BlackItalic.otf');
}

@font-face {
    font-family: 'Ancizar-Serif-Bold';
    src: asset_url('Ancizar-Serif-Bold.otf');
}

@font-face {
    font-family: 'Ancizar-Serif-BoldItalic';
    src: asset_url('Ancizar-Serif-BoldItalic.otf');
}

@font-face {
    font-family: 'Ancizar-Serif-Extrabold';
    src: asset_url('Ancizar-Serif-Extrabold.otf');
}

@font-face {
    font-family: 'Ancizar-Serif-ExtraboldItalic';
    src: asset_url('Ancizar-Serif-ExtraboldItalic.otf');
}

@font-face {
    font-family: 'Ancizar-Serif-Italic';
    src: asset_url('Ancizar-Serif-Italic.otf');
}

@font-face {
    font-family: 'Ancizar-Serif-Light';
    src: asset_url('Ancizar-Serif-Light.otf');
}

@font-face {
    font-family: 'Ancizar-Serif-LightItalic';
    src: asset_url('Ancizar-Serif-LightItalic.otf');
}

@font-face {
    font-family: 'Ancizar-Serif-Regular';
    src: asset_url('Ancizar-Serif-Regular.otf');
}

@font-face {
    font-family: 'Ancizar-Serif-Semibold';
    src: asset_url('/assets/Ancizar-Serif-Semibold.otf');
}

@font-face {
    font-family: 'Ancizar-Serif-SemiboldItalic';
    src: asset_url('Ancizar-Serif-SemiboldItalic.otf');
}

$green-color: #94B43B;
$red-color: #A61C31;
$gray-color: #B1B2B0;
$primary-color: $green-color;
$secondary-color: $red-color;

body {
    font-family: Ancizar-Sans-Thin;
}

//Navbar classes
.navbar-default {
    height: 6rem;
    background-color: white;
    border-style: none;
}



.navbar.top-links,
.navbar-top-links li,
.navbar-top-links li a {
    font-family: 'Ancizar-Serif-Regular', sans-serif;
    font-size: 1.6rem;
    height: 100%;
    min-width: 15rem;
    line-height: 3.7rem;
    text-align: center;
    color: $primary-color;
}

.navbar-top-links li a:hover {
    background-color: $primary-color;
    color: white;
}

.navbar-default .navbar-brand{
    line-height: 4rem;
    color: black;
    font-family: 'Ancizar-Serif-Semibold', sans-serif;
}

.navbar-brand img {
    display: unset;
}

.logo-un {
    max-height: 150%;

}

//Typography classes
h1,
h2 {
    color: $primary-color;
}

.primary-color {
    color: $primary-color;
}

.secondary-color {
    color: $secondary-color;
}

.panel-primary {
    border-color: $green-color;
}

.panel-primary>.panel-heading {
    background-color: $green-color;
    border-color: $green-color;
    font-size: 1.4em;
}

//Event, forms
.event_form {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 0.5rem;
}

.event_form h1{
  color: white !important;
}


.event_form .field {  
    margin-top: 1rem;
}

.event_form .panel-default .panel-heading{
  background-color: $secondary-color;
}

.event_form .panel-default {
  border-style: none;
  background-color: rgba(143, 143, 143, 0.3);
  border-radius: 2rem;
}


.event_form label {
    text-align: center;
    align-items: center;
    width: 100%;
    display:inline-block;
    font-family: 'Ancizar-Serif-Bold', sans-serif;

}

.event_form input,
.event_form textarea {
    min-width: 90%;
    resize: none;
    border-radius: 0.5rem;
    margin-left: 2rem;
    border-style: none;
    border-bottom: 1px solid $secondary-color;
    background-color: transparent;
    text-align: center; 
    font-family: 'Ancizar-Serif-Light', sans-serif;

}

.event_form .date_select {

    text-align: center;
    align-items: center;
}

.event_form #event_image{
  border-style: none;
  min-width: 50%;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


#new_event_form #event_id_user,
#edit_event_form #event_id_user,
#new_event_form #event_cancelled,
#edit_event_form #event_cancelled,
#new_event_form #event_published,
#edit_event_form #event_published,
#new_event_form #event_calification,
#new_event_form #event_all_calification,
#edit_event_form #event_calification,
#edit_event_form #event_all_calification,
#new_event_form label[for=event_Público],
#edit_event_form label[for=event_Público],
#new_event_form label[for=event_Cancelado],
#edit_event_form label[for=event_Cancelado],
#new_event_form label[for=event_id_user],
#new_event_form label[for=event_Calificación],
#new_event_form label[for=event_all_calification],
#edit_event_form label[for=event_Calificación],
#edit_event_form label[for=event_all_calification],
#edit_event_form label[for=event_id_user]
{
    display: none;
    visibility: hidden;
}

.event_form input:focus,
.event_form textarea:focus {

    box-shadow: 0px 0px 8px 2px $secondary-color;
  outline: none;
}

.event_form .btn-success{
  background-color: $primary-color;
  border-color: transparent;
  }
.event_form .panel-footer{
    background-color: $secondary-color;
}

.event_form .panel-footer a{
    color: white;
    text-align: center;
}

.panel-footer #back,

{
    visibility: hidden;
}
.panel-footer #back:before  {
    visibility: visible;
    font-family: FontAwesome; 
    font-size: 2rem; 
    display: inline-block; 
    content: '\f0a8';
}

.panel-footer #show,

{
    visibility: hidden;
}
.panel-footer #show:before  {
    visibility: visible;
    font-family: FontAwesome; 
    font-size: 2rem; 
    display: inline-block; 
    content: '\f06e';
}

.panel-footer #delete,

{
    visibility: hidden;
}
.panel-footer #delete:before  {
    visibility: visible;
    font-family: FontAwesome; 
    font-size: 2rem; 
    display: inline-block; 
    content: '\f00d';
}

.panel-footer #download,

{
    visibility: hidden;
}
.panel-footer #download:before  {
    visibility: visible;
    font-family: FontAwesome; 
    font-size: 2rem; 
    display: inline-block; 
    content: '\f019';
}

.panel-footer #edit,

{
    visibility: hidden;
}
.panel-footer #edit:before  {
    visibility: visible;
    font-family: FontAwesome; 
    font-size: 2rem; 
    display: inline-block; 
    content: '\f044';
}

.panel-footer #edit,

{
    visibility: hidden;
}
.panel-footer #edit:before  {
    visibility: visible;
    font-family: FontAwesome; 
    font-size: 2rem; 
    display: inline-block; 
    content: '\f044';
}
.panel-footer #edit,

{
    visibility: hidden;
}
.panel-footer #edit:before  {
    visibility: visible;
    font-family: FontAwesome; 
    font-size: 2rem; 
    display: inline-block; 
    content: '\f044';
}
.panel-footer #edit,

{
    visibility: hidden;
}
.panel-footer #edit:before  {
    visibility: visible;
    font-family: FontAwesome; 
    font-size: 2rem; 
    display: inline-block; 
    content: '\f044';
}


.panel-footer #comment,

{
    visibility: hidden;
}
.panel-footer #comment:before  {
    visibility: visible;
    font-family: FontAwesome; 
    font-size: 2rem; 
    display: inline-block; 
    content: '\F075';
}

.panel-footer #rate,

{
    visibility: hidden;
}
.panel-footer #rate:before  {
    visibility: visible;
    font-family: FontAwesome; 
    font-size: 2rem; 
    display: inline-block; 
    content: '\f006';
}

.panel-footer #assist,

{
    visibility: hidden;
}
.panel-footer #assist:before  {
    visibility: visible;
    font-family: FontAwesome; 
    font-size: 2rem; 
    display: inline-block; 
    content: '\f058';
}

.panel-footer #not_assist,

{
    visibility: hidden;
}
.panel-footer #not_assist:before  {
    visibility: visible;
    font-family: FontAwesome; 
    font-size: 2rem; 
    display: inline-block; 
    content: '\f057';
}

.panel-footer a{
    color: $primary-color;
    font-size: 0rem;
    margin-left:1rem;
}

.panel-footer a:hover{
    color: $secondary-color;
}


#events_view .panel-body{
  background-color: rgba(143, 143, 143, 0.1);
}

#events_view .panel-heading h2{
    color: white;
    font-family: 'Ancizar-Serif-Semibold', sans-serif;
}

#events_view .panel-body .panel-event_description{
    text-align: justify;
    text-align-last: center;
}
#events_view #panel-date-event{
    position: absolute;
    bottom: 6.8rem;
    color: $secondary-color;
    right: 2rem;
} 

#file-btn{
    position: relative;
    overflow: hidden;
    display: block;
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    width: 19rem;
}

#file-btn input{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px !important;
    direction: ltr;
    cursor: pointer;
}

#events_view .panel-primary,
#create_event{
    min-height: 35rem;
}

#show_event .panel-heading{
    background-color: $primary-color;
}

#show_event .panel-heading h2
#show_event .panel-heading h2 a{
    color: white;
    font-family: 'Ancizar-Serif-Extrabold';
}   

#create_event .panel-heading h2{
 color: white;
    font-family: 'Ancizar-Serif-Semibold';   
}

#create_event .panel-body a{
    visibility: hidden;
}

#create_event .panel-body a:before  {
    margin-top: 3.5rem;
    margin-left: 8rem;
    width: 10rem;
    display:block;
    visibility: visible;
    font-family: FontAwesome; 
    font-size: 10rem; 
    content: '\f055';
    color: #aaa;
}

#create_event .panel-body a:before:hover{
    color: #fff;
}






//body{
//  background-image: url(cover-un.jpg);
//  background-repeat: no-repeat;
//  background-size: cover;
//  background-position: center center;
//  background-attachment: fixed;
//}
//.navbar-default .navbar-brand{
//  line-height: 5rem;
//  text-align: center;
//  width: 30rem;
//  font-family: 'Ancizar-Sans-Thin';
//  font-size: 3rem;
//}
//
//.navbar-default .navbar-brand span{
//  font-size: 4rem;
//  font-family: 'Ancizar-Serif-Bold', sans-serif;
//}