@import "variables";


.navbar-default {
    background-color: $background-color;
    margin-bottom: 2rem;
    height: 6rem;
    .navbar-brand {
        height: 4rem;
        font-size: 2rem;
        font-weight: bold;
        margin-top: -1.5rem;
        img {
            height: 5rem;
            display: inline;
        }
        a {
            color: white;
        }
    }

    .dropdown {
        min-width: 20rem;
        a {
            text-align: center;
            font-size: 1.7rem;
            color: $title-color;
            height: 6rem;
            line-height: 3rem;
            font-weight: bold;
        }

        a:hover,
        a:focus,
        a:visited {
            color: #09323f;
            background-color: rgba(255, 255, 255, 0.5);
        }

        #dropdown-search {
            width: 62rem;
            background-color: $background-color;
            padding: 1rem;
        }

        .sidebar-search {
            width: 70rem;
            background-color: transparent;
            form {
                margin-bottom: 0;
                .custom-search-form {
                    width: 80%;
                    input[type="text"] {
                        width: 100%;
                        border-top-left-radius: 2rem;
                        border-bottom-left-radius: 2rem;
                    }
                    button {
                      height: 3.4rem;
                      background: $green-color;
                      border-color: $green-color;
                    }
                  i {
                    color: white;
                  }
                }
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .navbar-static-top {
        position: relative;
        /* this can also be static */
        height: auto;
    }

    .navbar-top-links {
        height: auto;
    }

    .navbar-top-links li {
        height: 5rem;
    }

    .navbar-top-links li a {
        height: 5rem;
        line-height: normal !important;
    }
}