

.sidebar {
  margin-top: 7rem;
  background-color: transparent;
  border-style: none;
  box-shadow: 0px 0px 0px white;
}

.sidebar .navbar-default {
  background-color: transparent;
}

.navbar-default {
  height: 6rem;
  background-color: rgba(143, 143, 143, 0.4);
  box-shadow: 1px 1px 1px $primary-color;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.navbar-header{
  height: 6rem;
}



nav.navbar.navbar-default.navbar-static-top {
  margin-bottom: 1rem!important;
}



.navbar.top-links,
.navbar-top-links li,
.navbar-top-links li a {
  font-family: 'Ancizar-Serif-Regular', sans-serif;
  font-size: 2rem;
  min-width: 15rem;
  text-align: center;
  color: $primary-color;
  border-radius: 1rem;
  min-width: 20rem;
}

.navbar-top-links li a:hover {
  background-color: #88A61F;
  color: white;
}

.navbar-default .navbar-brand {
  line-height: 4rem;
  color: white;
  font-size: 2.4rem;
  font-family: 'Ancizar-Serif-Semibold', sans-serif;
}

.navbar-brand img {
  display: unset;
}

.logo-un {
  max-height: 150%;

}

.input-group-btn  {
    position: relative;
    font-size: 0;
    white-space: nowrap;
    right: 1rem;
    top: 0.3rem;
    background-color: transparent
}

.input-group-btn .btn-default{
	background-color: transparent;
	color: $primary-color;
	border-radius: 50%;
}

#dropdown-search{
	width: 70rem;
	background-color: transparent;
}

.input-group .form-control:first-child{
	position: absolute;
	left: 0; 
	right: 0;
	width: 100%;
	border-radius: 4rem;
}

.navbar-search{
  height: 5rem;
  padding-top: 2.5rem;
  min-width: 30rem;
}



.navbar-search form{
  margin-bottom: 0;

}

.navbar-search form input[type="text"]{
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem; 
  width: 40rem;
}




.navbar.top-links, .navbar-top-links li, .navbar-top-links li a{
  margin-top: -1.5rem;
}

@media screen and (max-width: 768px) {
  .navbar-static-top{
    position: relative; /* this can also be static */
    height: auto;
  }

  .navbar-top-links{
    height: auto;
  }
  
  .navbar-top-links li{
    height: 5rem;

  }

  .navbar-top-links li a{
    height: 5rem;
    line-height: normal !important;
  }
}
