  <footer class="footer">
    <span class="copyright">&copy; Todos los derechos reservados Pro One 600</span>
    <ul class="list-inline  pull-right">
      <li>
        <%= link_to "CONTACTO", contact_path, :class => 'btn btn-primary'  %>

      </li>

    </ul>
    
  </footer>