<nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <a class="navbar-brand" href="/"><span>un</span> Calendario</a>

          <div class="collapse navbar-collapse" role="navitation">
            <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
                <li>
                  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> 
                </li>
                <li>
                  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
                </li>
              <% else %>
                <li>
                  <%= link_to "Registrate", new_user_registration_path, :class => 'navbar-link'  %> 
                </li>
                <li>
                   <%= link_to "Iniciar Sesión", new_user_session_path, :class => 'navbar-link'  %>
                </li>
              <% end %>
            </ul>
          </div>
      </div>
    </nav>