<%= render('layouts/shared/head') %>
<body>
<div id="wrapper">
  <!-- Navigation -->
  <%= render('layouts/shared/nav') %>

  <div id="page-wrapper">
    <%= render 'layouts/shared/messages' %>
    <%= yield %>
  </div>

</div>
</body>
