<%= render('layouts/shared/head') %>
<body>
<div id="wrapper">
  <!-- Navigation -->
  <%= render('layouts/shared/nav') %>

  <div id="page-wrapper">
  	<div class="box-transparent">
  		<%= render 'layouts/shared/messages' %>

  	</div>
    <%= yield %>
  </div>

</div>
</body>
